<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base :: headerfg"></div>
    <title>Songs</title>
</head>
<body>

<div th:replace="base :: navlinksfg"></div>

<table class = "table">
    <thead class="thead-light">
    <th scope="col-3">JOB TITLE</th>
    <th scope="col-3">POST DATE</th>
    <th scope="col-3">VIEW DETAILS</th>
    </thead>
    <tbody>
    <tr th:each="job : ${jobs}">
        <td>[[${job.jobTitle}]]</td>
        <td>[[${job.postedDate}]]</td>
        <td>
            <button><a th:href = "@{/detailJob/{id}(id=${job.id})}">Details</a></button>

            <span th:if="${job.id >= 17}">
            <button><a th:href = "@{/updateJob/{id}(id=${job.id})}">Update</a></button>
            <button><a th:href = "@{/deleteJob/{id}(id=${job.id})}">Delete</a></button>
            </span>

        </td>
    </tr>
    </tbody>
</table>

<div th:replace="base :: footerfg"></div>
</body>
</html>